<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript"  src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">


 <br><br><br>
  <% content_for :javascript_includes do %>
    <%= javascript_include_tag "data_table" %>
    <% end %>
<div class="container">
<table class="table table-bordered" id="data_table">
  <thead>
    <tr>
      <th scope="col">Meeting Title</th>
      <th scope="col">Meeting Type</th>
      <th scope="col">Date and time</th>
      <th scope="col">Participants</th>
      <th scope="col">Url</th>
    </tr>
  </thead>

  <tbody>
    <% @usermeeting.each do |blog| %>
      <tr>
        <td><%= blog.meeting_title %></td>
        <td><%= blog.meeting_type %></td>
        <td><%= blog.dateandtime %></td>
        <td><%= blog.participants %></td> 
        <td><%= blog.url %></td>    
      </tr>
    <% end %>
  </tbody>
</table>
</div>